<div class="container">
  <div class="row d-flex justify-content-between">
    <div>
      <h3>Recently Published Job</h3> 
    </div>
    <% if params[:search].present? %>
    <div>
      Showing Result for "<%= params[:search][:search_text]%>"
    </div>
    <% end %>
    <div>
      <%= simple_form_for(:search, url: root_url,:html => {:method => :get, :class => 'form-inline'}) do |f| %>
        <div class="input-group float-right">
        <%= f.text_field :search_text, class: 'form-control',placeholder: "Search Job or Company" %>
          <div class="input-group-btn">
            <button class="btn btn-default" type="submit">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>&nbsp;
      <% end %>
    </div>
  </div><hr>
  <% if @jobs.present? %>
    <div id="results">
      <div class="row">
        <%= render partial: 'result' %>
      </div>
    </div>
  <% end %>
</div>  
</div>  
</div>  