@import 'bootstrap/dist/css/bootstrap';
@import "font-awesome-sprockets";
@import "font-awesome";

.header{
    text-align: center;
    padding-top: 30px;
    margin-bottom: 50px;
    .title {
        font-size: 50px;
        font-weight: 100
    }
}
.navbar-custom{
  background-color: #B4EC51;
}
.icon {
    position: relative;
    bottom: 11px
}
body{
    // background-color: #B4EC51;
}

.job-index {
    border-radius: 15px;
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
    .profile img {
        width: 68px;
        height: 68px;
        border-radius: 50%
    }    
    .card-body {
        position: relative;
        bottom: 35px
    }
}

.btn-custom {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #AB47BC;
    border: none;
    color: #fff
    // #7c57bc
}
.btn-home{
    // background-color: linear-gradient(170deg, #C86DD7 0%, #3023AE 100%) !important;
  background-color: #B4EC51;
}
// .btn:hover {
//     -webkit-transform: scale(1.05);
//     -ms-transform: scale(1.05);
//     transform: scale(1.05);
//     color: #fff
// }

@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500,700');

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');

$gr-1:linear-gradient(170deg, #01E4F8 0%, #1D3EDE 100%);
$gr-2:linear-gradient(170deg, #B4EC51 0%, #429321 100%);
$gr-3:linear-gradient(170deg, #C86DD7 0%, #3023AE 100%);

.gr-1{background: $gr-1;}
.gr-2{background: $gr-2;}
.gr-3{background: $gr-3;}

*{transition: .5s;}

.column{
  margin-top:3rem;
  padding-left:3rem;
  &:hover{
    padding-left:0;
    .card-index .txt{
      margin-left:1rem;
      h1, p{
        color:rgba(255,255,255,1);
        opacity:1;
      }
    }
    a{
      color:rgba(255,255,255,1);
      &:after{
      width: 10%;
      }
    }
  }
}
.row{
    margin-bottom: 30px;
}
.card-index{
  min-height:170px;
  margin: 0;
  padding: 1.7rem 1.2rem;
  border: none;
  border-radius: 15;
  color:rgba(0,0,0,1);
  letter-spacing: .05rem;
  font-family: 'Oswald', sans-serif;
  box-shadow: 0 0 21px rgba(0,0,0,.27);
  .txt{
    margin-left:-3rem;
    z-index: 1;
    h1{
      font-size:1.7rem;
      font-weight: 300;
      text-transform: uppercase;
      a{
        z-index:3;
        margin-left:1rem;
        position:relative;
        bottom: -.5rem;
        text-transform: uppercase;
        &:after {
          content:"";
          display: inline-block;
          height: 0.5em;
          width: 0;
          margin-right: -100%;
          margin-left: 10px;
          border-top: 1px solid rgba(255,255,255,1);
          transition: .5s;
        }
      }
    }
    p{
      font-size:1rem;
      font-family: 'Open Sans', sans-serif;
      letter-spacing: 0rem;
      opacity:0;
      color:rgba(255,255,255,1);
    }
  }

  .ico-card{
    position:absolute;
    top: 0;
    left:0;
    bottom:0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  i{
    position: relative;
    right: -50%;
    top:60%;
    font-size: 12rem;
    line-height: 0;
    opacity: .2;
    color:rgba(255,255,255,1);
    z-index: 0;
   }
   .company-logo{
    position: relative;
    right: -50%;
    top:60%;
    border-radius: 50%;
    opacity: .5;
    z-index: 0;   
   }
}



.card-container {
    padding: 100px 0px;
    -webkit-perspective: 1000;
    perspective: 1000;
}

.developer-card {
    max-width: 300px;
    background-color: #FFF;
    border-radius: 5px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    margin: 10px auto;
    cursor: pointer;
}

.developer-card img {
    transition: all 0.15s linear;
}

.developer-card .profile-name {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 25px;
    font-weight: bold;
    color: #FFF;
    padding: 15px 20px;
    background: linear-gradient(140deg, rgba(0, 0, 0, 0.4) 50%, rgba(255, 255, 0, 0) 50%);
    transition: all 0.15s linear;
}

.developer-card .profile-position {
    position: absolute;
    color: rgba(255, 255, 255, 0.4);
    left: 30px;
    top: 100px;
    transition: all 0.15s linear;
}

.developer-card .profile-overview {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4) 50%, rgba(255, 255, 0, 0));
    color: #FFF;
    padding: 50px 0px 20px 0px;
    transition: all 0.15s linear;
}

.developer-card .profile-overview h3 {
    font-weight: bold;
}

.developer-card .profile-overview p {
    color: rgba(255, 255, 255, 0.7);
}

.developer-card:hover img {
    filter: brightness(80%);
}

.developer-card:hover .profile-name {
    padding-left: 25px;
    padding-top: 20px;
}

.developer-card:hover .profile-position {
    left: 40px;
}

.developer-card:hover .profile-overview {
    padding-bottom: 25px;
}

